<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false">

  <targets>
    <target name="console" xsi:type="ColoredConsole" useDefaultRowHighlightingRules="false" layout="${date:HH\:mm\:ss} |${pad:padding=5:inner=${level:uppercase=true}}| [${logger}] ${message} ${when:when=length('${exception}') > 0:inner=-} ${exception:format=shorttype,message}">
      <highlight-row condition="level == LogLevel.Trace" foregroundColor="DarkGray" />
      <highlight-row condition="level == LogLevel.Debug" foregroundColor="Gray" />
      <highlight-row condition="level == LogLevel.Info" foregroundColor="White" />
      <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
      <highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
      <highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" backgroundColor="White" />
    </target>
    <target xsi:type="File"
            name="main"
            fileName="/logs/NoAdsHere.log"
            layout="${date:HH\:mm\:ss} |${pad:padding=5:inner=${level:uppercase=true}}| [${logger}] ${message}${when:when=length('${exception}') > 0:inner=${newline}}${exception:format=tostring}"
            deleteOldFileOnStartup="true"
            maxArchiveFiles="4"
            archiveFileName="/logs/NoAdsHere-{#}.log"
            archiveNumbering="Date"
            archiveDateFormat="yyyMMdd"
            archiveEvery="Day"
            archiveOldFileOnStartup="true" />

    <target xsi:type="File"
            name="debug"
            fileName="/logs/debug.log"
            layout="${date:HH\:mm\:ss} |${pad:padding=5:inner=${level:uppercase=true}}| [${logger}] ${message}${when:when=length('${exception}') > 0:inner=${newline}}${exception:format=tostring}"
            deleteOldFileOnStartup="true"
            maxArchiveFiles="1"
            archiveFileName="/logs/debug-{#}.log"
            archiveNumbering="Date"
            archiveDateFormat="yyyMMdd"
            archiveEvery="Day"
            archiveOldFileOnStartup="true" />
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="console" />
    <logger name="*" minlevel="Info" writeTo="main" />
    <logger name="*" minlevel="Trace" writeTo="debug" />
  </rules>
</nlog>